.clear-bottom {
    &:after{
        clear: both;
        display: block;
        content: "";
    }
}
.copy {
  font-size: 16px;
  color: $color__text-main;
  @media screen and (min-width: $tabwidth){
    font-size: 18px;
  }
  > *:first-child {
    margin-top: 0;
    padding-top: 0;
  }
  > *:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  p {
    margin: 20px 0;
  }
  strong, b, em {
    font-weight: 700;
  }
  a {
    text-decoration: none;
    color: $color__text-main;
    position: relative;
    &:hover {
      color: $color__text-main;
    }
  }
  h1, h2, h3 {
    margin: 0 0 10px 0;
    text-transform: uppercase;
    color: $color__text-main;
  }
  h1 {
    font-size: 25px;
    @media screen and (min-width: $tabwidth){ 
        font-size: 30px;
    }
  }
  h2 {
    font-size: 20px;
    @media screen and (min-width: $tabwidth){
        font-size: 25px;
    }
  }
  h3 {
    font-size: 18px;
    color: $color__text-main;
    @media screen and (min-width: $tabwidth){
      font-size: 20px;
    }
  }
  ul, ol {
    padding: 0;
    margin: 0 0 20px 20px;
    font-size: inherit;
    li {
      margin: 0 0 0 20px;
      font-size: inherit;
      padding: 0;
      list-style-type: square;
      a {
        cursor: pointer;
        color: $color__text-main;
        &:hover {
          color: $color__text-main;
        }
      }
      ul.sub-menu {
        margin: 0;
      }
    }
  }
}
#page {
  width: 100%;
  min-height: 100vh;
  @include flexbox();
  @include flexbox-direction(column);
  @include flexbox-justify(stretch);
  @include flexbox-align-content(stretch);
  @include flexbox-align-items(stretch);
  @media screen and (min-width: $tabwidth){
    @include flexbox-direction(row);
  }
  #masthead {
    @include flexbox-flex(0,0,auto);
    padding: 20px 0 20px 30px;
    @media screen and (min-width: $tabwidth){
      width: 250px;
      border-right: 1px solid $color__shefa-gray;
    }
    >.wrapper {
      .logo {
        margin: 0 auto 30px auto;
        width: 100%;
        padding: 0 30px 0 0;
        @media screen and (min-width: $tinywidth){
          width: 70%;
        }
        @media screen and (min-width: $tabwidth){
          width: 100%;
        }
        a {
          display: block;
          img {
            display: block;
          }
        }
      }
      #site-navigation {
        text-align: center;
        @media screen and (min-width: $tabwidth){
          text-align: left;
        }
        &.toggled {
          .menu-primary-container {
            display: block;
          }
        }
        >.button-wrapper {
          padding: 0 30px 0 0;
          button {
            display: inline-block;
            background-color: $color__shefa-gray;
            color: white;
            border: none;
            text-shadow: none;
            box-shadow: none;
            padding: 10px 20px;
            font-size: 20px;
            @media screen and (min-width: $tabwidth){
              display: none;
            }
          }
        }
        .menu-primary-container {
          display: none;
          @media screen and (min-width: $tabwidth){
            display: block;
          }
          ul {
            margin: 0;
            padding: 0;
            li {
              display: block;
              width: 100%;
              position: relative;
              z-index: 1000;
              a {
                display: block;
                color: inherit;
                font-size: 20px;
                text-decoration: none;
                padding: 15px 30px 15px 0;
                background-color: #fff;
                @media screen and (min-width: $tabwidth){
                  &.active {
                    padding: 15px 20px 15px 0;
                    border-right: 10px solid $color__shefa-gray;
                  }
                  
                }
                &:hover {
                  color: $color__shefa-green;
                }
              }
              ul.sub-menu {
                background-color: #fff;
                width: 100%;
                position: relative;
                @include transition(all ease .1s);
                a {
                  font-size: 14px;
                }
                @media screen and (min-width: $tabwidth){
                  position: absolute;
                  width: 100%;
                  left: 0;
                  top: 0;
                  z-index: -1;
                  li {
                    padding: 10px;
                  }
                }
              }
              &:hover {
                ul.sub-menu {

                  @media screen and (min-width: $tabwidth){
                    position: absolute;
                    width: 100%;
                    left: 100%;
                    border-left: 10px solid $color__shefa-gray;
                    -webkit-box-shadow: 10px 0px 13px -2px rgba(0,0,0,0.44);
                    -moz-box-shadow: 10px 0px 13px -2px rgba(0,0,0,0.44);
                    box-shadow: 10px 0px 13px -2px rgba(0,0,0,0.44);
                  }
                  
                }
              }
            }
          }
        }
      }
      .social {
        text-align: center;
        margin: 20px 0 0 0;
        padding: 0 30px 0 0;
        @media screen and (min-width: $tabwidth){
          text-align: left;
        }
        a {
          display: inline-block;
          color: $color__shefa-gray;
          text-decoration: none;
          font-size: 30px;
          &:hover {
            color: $color__shefa-green;
          }
        }
      }
    }
  }
  #content {
    @include flexbox-flex(1,1,auto);
    @media screen and (min-width: $tabwidth){
      width: calc(100% - 250px);
    }
    #primary, #main {
      height: 100%;
    }
  }
}
.main-row {
  width: 100%;
  margin-bottom: auto;
  padding: 20px;
  @media screen and (min-width: $midwidth){
    padding: 6% 0;
  }
  >.row-1 {
    margin: 0 0 30px 0;
    @media screen and (min-width: $midwidth){
      @include flexbox();
      @include flexbox-direction(row);
      @include flexbox-justify(space-between);
      @include flexbox-align-content(center);
      @include flexbox-align-items(center);
      padding: 0 2% 0 12%;
    }
    >.col-1 {
      @media screen and (min-width: $midwidth){
        max-width: 50%;
      }
      header {
        h1 {
          margin: 0;
          font-size: 35px;
          @media screen and (min-width: $tabwidth){
              font-size: 50px;
          }
        }
        .spacer {
          width: 150px;
          border-bottom: 1px solid $color__shefa-gray;
        }
      }
    }
    >.col-2 {
      text-align: left;
      margin: 20px 0 0 0;
      @media screen and (min-width: $midwidth){
        text-align: right;
        @include flexbox-flex(1,1,auto);
        margin: 0;
      }
      .form-search {
        position: relative;
        &.toggled {
            >form {
                display: block;
            }
        }
        #search-icon {
          font-size: 25px;
          display: block;
          @media screen and (min-width: $midwidth){
            font-size: 35px;
          }
        }
        >form {
          display: none;
          @media screen and (min-width: $midwidth){
            position: absolute;
            top: -10px;
            right: 45px;
            width: calc(100% - 45px);
          }
          input[type=text] {
            margin: 10px 0 0 0;
            padding: 10px;
            line-height: 1.2;
            max-width: 100%;
            border: 1px solid $color__shefa-gray;
            
            &:-moz-placeholder {
                color: $color__shefa-gray;
            }
            &::-moz-placeholder {
                color: $color__shefa-gray;
            }
            &:-ms-input-placeholder {
                color: $color__shefa-gray;
            }
            &::-webkit-input-placeholder {
                color: $color__shefa-gray;
            }
          }
          input[type=submit] {
            margin: 10px 0 0 0;
            max-width: 100%;
            padding: 10px;
            color: white;
            background-color: $color__shefa-gray;
            border: none;
            text-shadow: none;
            box-shadow: none;
            font-size: 16px;
            line-height: 1.2;
            
          }
        }
      }
    }
  }
  >.row-2 {
    >.col-1 {
      @media screen and (min-width: $midwidth){
        padding: 0 12%;
      }
      .copy {
        margin-top: 10px;
        h2 {
          font-weight: 300;
        }
      }
      .messages {
        border: 1px solid red;
        color: red;
        padding: 10px;
      }
      header {
        h2 {
          font-weight: 300;
        }
      }
    }
  }
}