.clear-bottom {
    &:after{
        clear: both;
        display: block;
        content: "";
    }
}
.copy {
  font-size: 16px;
  color: $color__text-main;
  @media screen and (min-width: $tabwidth){
    font-size: 18px;
  }
  > *:first-child {
    margin-top: 0;
    padding-top: 0;
  }
  > *:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  p {
    margin: 20px 0;
  }
  strong, b, em {
    font-weight: 700;
  }
  a {
    text-decoration: none;
    color: $color__text-main;
    position: relative;
    &:hover {
      color: $color__text-main;
    }
  }
  h1, h2, h3 {
    margin: 0 0 10px 0;
    text-transform: uppercase;
    color: $color__text-main;
  }
  h1 {
    font-size: 25px;
    @media screen and (min-width: $tabwidth){ 
        font-size: 30px;
    }
  }
  h2 {
    font-size: 20px;
    @media screen and (min-width: $tabwidth){
        font-size: 25px;
    }
  }
  h3 {
    font-size: 18px;
    color: $color__text-main;
    @media screen and (min-width: $tabwidth){
      font-size: 20px;
    }
  }
  ul, ol {
    padding: 0;
    margin: 0 0 20px 20px;
    font-size: inherit;
    li {
      margin: 0 0 0 20px;
      font-size: inherit;
      padding: 0;
      list-style-type: square;
      a {
        cursor: pointer;
        color: $color__text-main;
        &:hover {
          color: $color__text-main;
        }
      }
      ul.sub-menu {
        margin: 0;
      }
    }
  }
}
#page {
  width: 100%;
  min-height: 100vh;
  @include flexbox();
  @include flexbox-direction(column);
  @include flexbox-justify(stretch);
  @include flexbox-align-content(stretch);
  @include flexbox-align-items(stretch);
  @media screen and (min-width: $tabwidth){
    @include flexbox-direction(row);
  }
  #masthead {
    @include flexbox-flex(0,0,auto);
    padding: 20px;
    @media screen and (min-width: $tabwidth){
      width: 200px;
      border-right: 1px solid $color__shefa-gray;
    }
    >.wrapper {
      .logo {
        margin: 0 0 30px 0;
        a {
          display: block;
          img {
            display: block;
          }
        }
      }
      #site-navigation {
        text-align: center;
        @media screen and (min-width: $tabwidth){
          text-align: left;
        }
        &.toggled {
          .menu-primary-container {
            display: block;
          }
        }
        button {
          display: inline-block;
          background-color: $color__shefa-gray;
          color: white;
          border: none;
          text-shadow: none;
          box-shadow: none;
          padding: 10 20px;
          font-size: 20px;
          @media screen and (min-width: $tabwidth){
            display: none;
          }
        }
        .menu-primary-container {
          display: none;
          @media screen and (min-width: $tabwidth){
            display: block;
          }
          ul {
            margin: 0;
            padding: 0;
            li {
              display: block;
              margin: 20px 0;
              a {
                color: inherit;
                font-size: 20px;
                text-decoration: none;
                &:hover {
                  color: $color__shefa-green;
                }
              }
            }
          }
        }
      }
      .social {
        text-align: center;
        margin: 20px 0 0 0;
        @media screen and (min-width: $tabwidth){
          text-align: left;
        }
        a {
          display: inline-block;
          color: $color__shefa-gray;
          text-decoration: none;
          font-size: 30px;
          &:hover {
            color: $color__shefa-green;
          }
        }
      }
    }
  }
  #content {
    @include flexbox-flex(1,1,auto);
    @media screen and (min-width: $tabwidth){
      width: calc(100% - 200px);
    }
    #primary, #main {
      height: 100%;
    }
  }
}