.clear-bottom {
    &:after{
        clear: both;
        display: block;
        content: "";
    }
}
.copy {
  font-size: 16px;
  color: $color__text-main;
  @media screen and (min-width: $tabwidth){
    font-size: 18px;
  }
  > *:first-child {
    margin-top: 0;
    padding-top: 0;
  }
  > *:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  p {
    margin: 20px 0;
  }
  strong, b, em {
    font-weight: 700;
  }
  a {
    text-decoration: none;
    color: $color__text-main;
    position: relative;
    &:hover {
      color: $color__text-main;
    }
  }
  h1, h2, h3 {
    margin: 0 0 10px 0;
    text-transform: uppercase;
    color: $color__text-main;
  }
  h1 {
    font-size: 25px;
    @media screen and (min-width: $tabwidth){ 
        font-size: 30px;
    }
  }
  h2 {
    font-size: 20px;
    @media screen and (min-width: $tabwidth){
        font-size: 25px;
    }
  }
  h3 {
    font-size: 18px;
    color: $color__text-main;
    @media screen and (min-width: $tabwidth){
      font-size: 20px;
    }
  }
  ul, ol {
    padding: 0;
    margin: 0 0 20px 20px;
    font-size: inherit;
    li {
      margin: 0 0 0 20px;
      font-size: inherit;
      padding: 0;
      list-style-type: square;
      a {
        cursor: pointer;
        color: $color__text-main;
        &:hover {
          color: $color__text-main;
        }
      }
      ul.sub-menu {
        margin: 0;
      }
    }
  }
}
#page {
  width: 100%;
  min-height: 100vh;
  @include flexbox();
  @include flexbox-direction(column);
  @include flexbox-justify(stretch);
  @include flexbox-align-content(stretch);
  @include flexbox-align-items(stretch);
  @media screen and (min-width: $tabwidth){
    @include flexbox-direction(row);
  }
  #masthead {
    @include flexbox-flex(1,0,auto);
    @media screen and (min-width: $tabwidth){
      width: 30%;
      min-width: 200px;
    }
  }
  #content {
    @include flexbox-flex(1,1,auto);
    @media screen and (min-width: $tabwidth){
      width: 70%;
    }
  }
}